  /* Add padding to containers */
  .container {
    padding: 16px;
    margin-top: 35px;
    background-color: white;
    background-image: url(../src/images/Background/enroll-now-registration-membership-concept.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: medium;
    border-radius: 25px;
    border-color: grey;
  }
  
  /* Full-width input fields */
  input[type=text-2], input[type=password] {
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: lightgray;
  }
  
  input[type=text-2]:focus, input[type=password]:focus {
    background-color:lightgray;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #06690e;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
    position: relative;
    border-radius: 25px;

  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
